<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>
<body>
    <header>
        <h1>Catalogo</h1>
    </header>

    <div>
        <h2>Bicicletas de Montaña</h2>
        <div>
            <span>Trek Marlin 7 - $850.000</span>
                <img src="/static/images/montana/marlin7.jpg" alt="Bicicleta de montaña Marlin 7">
        </div>
        <div>
            <span>Trek Marlin 8 - $1.150.000</span>
                <img src="/static/images/montana/marlin8.jpg" alt="Bicicleta de montaña Marlin 8">
        </div>
        <div>
            <span>Trek Marlin 9 - $3.490.000</span>
                <img src="/static/images/montana/marlin9.jpg" alt="Bicicleta de montaña Marlin 9">
        </div>
    </div>
    <div>
        <h2>Bicicletas Eléctricas</h2>
        <div>
            <span>Huang Queon Future200 - $2.940.000<span>
                <img src="" alt="Bicicleta eléctrica">
        </div>
        <div>
            <span>BornAgain 500 - $2.100.000</span>
                <img src="" alt="Bicicleta eléctrica">
        </div>
        <div>
            <span>Scycle bioSamsung - $1.250.000</span>
                <img src="" alt="Bicicleta eléctrica">
        </div>
    </div>
</body>
</html>