<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header>
        <h1>Outdoor Adventures</h1>
    </header>

    <div>
        <h2>Bienvenido</h2>
        <p>
            Aquí encontraras una variedad de bicicletas. <br>
            Creemos que una bicicleta es más que un medio de transporte, por eso queremos ofrecerte lo mejor.
        </p>
    </div>
    <div>
        <h2>¿Qué tipo de bicicleta te gusta?</h2>
        <div>
            <div>
            <h3>
                <a href="{% url 'bici_montana' %}">Bicicleta de montaña</a>
                <img src="" alt="">
            </h3>
        </div>
        </div>
    </div>
</body>
</html>